{% extends "shared/base.html" %}
{% load static %}
{% block nav_links %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-menu">
  <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
    <li class="nav-item active"><a class="nav-link" href="{% url 'blog_index' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
    {% if user.is_authenticated%}
    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Welcome, {{user.username}}</a>
      <ul class="dropdown-menu">
          <li><a href="#">Create blog</a></li>
          <li><a href="#">Your blog</a></li>
          <li><a href="#">Saved Blog</a></li>
      </ul>
    </li>
    {% else%}
    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Login</a>
      <ul class="dropdown-menu">
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
      </ul>
    </li>
    {% endif %}
  </ul>
</div>
<!-- /.navbar-collapse -->

<!-- Start Atribute Navigation -->
<div class="attr-nav">
  <ul>
    <li class="search">
      <a href="#"><i class="fa fa-search"></i></a>
    </li>
  </ul>
</div>
{% endblock nav_links %} 