{% extends "shared/base.html" %}
{% load static %} 
{% block nav_links %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-menu">
  <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'get_all_products' %}">Shop</a></li>
    <li class="nav-item"><a class="nav-link" href=" {% url 'get_wishlist'%}">Wishlist</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'view_about_us ' %}">About Us</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'handle_contact_us' %}">Contact Us</a></li>
    <li class="dropdown">
    {% if user.is_authenticated %}
    <a href="{% url 'view_user_account'%}" class="nav-link dropdown-toggle" data-toggle="dropdown"><img src="{{user.image.url}}" alt="Avatar" class="rounded-circle img-fluid" style="height:15px;width=15px" /> Welcome, {{user.username}}</a></a>
      <ul class="dropdown-menu">
        {% if user.employee %}
        {% if perms.fruit_shop_app.can_add_brand %}
        <li><a href="{% url 'create_brand'%}">Add Brand</a></li>
        {% endif %}
        <li><a href="{% url 'create_product'%}">Add Product</a></li>
        <li><a href="{% url 'get_your_products'%}">My Products</a></li>
        {% else %}
        {% endif %}
        <li><a href="{% url 'handle_logout'%}">Logout</a></li>
      {% else %}
      <a href="{% url 'handle_login'%}" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'register_customer'%}">Register</a></li>
      {% endif %}
      </ul>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->

<!-- Start Atribute Navigation -->
<div class="attr-nav">
  <ul>
    <li class="search">
      <a href="#"><i class="fa fa-search"></i></a>
    </li>
    <li class="side-menu">
      <a href="#">
        <i class="fa fa-shopping-bag"></i>
        <span class="badge" style='color:black;'>{{global_cart_items_count}}</span>
        {% comment %}
        <p>My Cart</p>
        {% endcomment %}
      </a>
    </li>
  </ul>
</div>
{% endblock nav_links %} 
{% block side_cart_menu %}
<div class="side">
  <a href="#" class="close-side"><i class="fa fa-times"></i></a>
  <li class="cart-box">
    <ul class="cart-list">
      {% for item in global_cart_items %}
      <li>
        <a href="#" class="photo">
          <img src="{{ item.product.images.first.image.url }}" class="cart-thumb" alt="" />
        </a>
        <h6><a href="#">{{ item.product.product_name }}</a></h6>
        <p>{{ item.quantity }}x - <span class="price">{{ item.product.price }}đ</span></p>
      </li>
      {% endfor %}
      <li class="total">
        <a href="{% url 'get_cart'%}" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
        <span class="float-right"><strong>Total</strong>: {{global_total_price}}đ</span>
      </li>
    </ul>
  </li>
</div>
{% endblock side_cart_menu %}

{% block search-bar %}
<form id = 'searchForm' action="{% url 'search_result' %}" method='get'>
<div class="top-search">
  <div class="container">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" name='q' placeholder="Type to search..." />
      <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
      <input type="submit" value="Search" style="display:none;">
    </div>
  </div>
</div>
</form>
{% endblock search-bar %}

{% block instagram_feed %}

    <div id="target-section" class="instagram-box">
      <div class="main-instagram owl-carousel owl-theme">
        {% if global_information.global_instagram_images %}
        {% for instagram_image in global_information.global_instagram_images %}
        <div class="item">
          <div class="ins-inner-box">
            <img src=" {{instagram_image.url}} " alt="" />
            <div class="hov-in">
              <a href="#"><i class="fab "></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="item">
          <div class="ins-inner-box">
            <img src=" {% static 'images/instagram-img-01.jpg' %} " alt="" />
            <div class="hov-in">
              <a href="#"><i class="fab "></i></a>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="ins-inner-box">
            <img src=" {% static 'images/instagram-img-02.jpg' %} " alt="" />
            <div class="hov-in">
              <a href="#"><i class="fab "></i></a>
            </div>
          </div>
        </div>
        
        {% endif %}
      </div>
    </div>
    
{% endblock instagram_feed %}