<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div style="margin: 0 auto; width: 50%; background-color: lightgray; text-align:center;">
        <p>Hello,</p>
        <br>
        <p>Your Shopee account verification code is:</p>
        <h1>{{code}}</h1>
        <p>Effective for 10 minutes. DO NOT share this code with others, including Fruitshop employees.</p>
    </div>
</body>
</html>