{% extends "shared/fruit_shop_base.html" %}
{% load static %}
{% if is_update %}
{% block heading_title %}{% if is_update %}Update{% else %}New
{% endif %} address{% endblock heading_title %}
{% block heading_sub_title %}{% if is_update %}Update{% else %}New
{% endif %} address{% endblock heading_sub_title %}
{% else %}

{% endif %}
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          {% if is_update %}
          <h2 class="text-start">Update address</h2>
          {% else %}
          <h2 class="text-start">New address</h2>
          {% endif %}
        </div>
        <div class="card-body">
          <form method='POST' enctype="multipart/form-data"id= 'ajax-form'>
            {% csrf_token %}
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Full name" name='full_name'value="{{ address.full_name }}">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name='phone_number' placeholder="Phone Number" value="{{ address.phone_number }}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Country" name='country'value="{{ address.country }}">
              </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="City" name='city'value="{{ address.city }}">
              </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Locality" name='locality'value="{{ address.locality }}">
              </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Postal Code" name='postal_code'value="{{ address.postal_code }}">
            </div>
          
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Details" name='street_address'value="{{ address.street_address }}">
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="home" {% if address.type == 'home' %} checked {% endif %}>
                <label class="form-check-label" for="inlineRadio1">Home</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="office"{% if address.type == 'office' %} checked {% endif %}>
                <label class="form-check-label" for="inlineRadio2">Office</label>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name='is_default' {% if address.is_default %} checked {% endif %} value="True">
                <label class="form-check-label" for="exampleCheck1">Set as default address</label>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value={% if is_update %}'Update'{% else %}'Create'{% endif %}>
            </form>
            </div>

        </div>
      </div>
    </div>
  </div>
  <script>
    const ajaxForm = document.getElementById('ajax-form');
    const isUpdate = JSON.parse('{{ is_update }}');
    const addressId = JSON.parse('{{ address.id }}');
    ajaxForm.addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(ajaxForm);
      const url = is_update ? "{% url 'update_address' addressId %}" : "{% url 'create_address' %}";
      fetch(url , {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = "{% url 'view_address' %}";
        } else {
          alert(data.error_message);
        }
      })
      .catch(error => {
        console.error(error);
        alert("An error occurred. Please try again.");
      });
    });
  </script>
{% endblock content %}
