{% extends "shared/base.html" %}
{% load static %}

{% block title_box %}{% endblock title_box %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-start">Enter new Password</h2>
          
        </div>
        <div class="card-body">
          <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
              <ul class="messages" >
                {% for message in messages %}
                  <li style = 'list-style-type: none;' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter your new password" name ='password'>
                <div id="uppercaseWarning" style="display: none; color: red;">At least 1 uppercase.</div>
                <div id="lowercaseWarning" style="display: none; color: red;">At least 1 lowercase.</div>
                <div id="lengthWarning" style="display: none; color: red;">8-16 characters.</div>
                <div id="symbolWarning" style="display: none; color: red;">Only use normal characters and at least 1 symbol.</div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value='Confirm'>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class> {% endcomment %}
</div>
{% endblock content %}
