{% extends "shared/base.html" %}
{% load static %}

{% block heading_title %}REGISTER{% endblock heading_title %}
{% block heading_sub_title %}Register{% endblock heading_sub_title %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Registration Form</h2>
          </div>
          <div class="card-body">
            <h1>Confirmation message has send to your email, please check it</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
