{% extends "shared/fruit_shop_base.html" %}
{% load static %}
{% block heading_title %}New password{% endblock heading_title %}
{% block heading_sub_title %}New password{% endblock heading_sub_title %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-start">Enter new Password</h2>
          
        </div>
        <div class="card-body">
          <form method='POST' enctype="multipart/form-data" id='ajax-form'>
            {% csrf_token %}
            
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Enter your new password" name ='password'>
                <div id="uppercaseWarning" style="display: none; color: red;">At least 1 uppercase.</div>
                <div id="lowercaseWarning" style="display: none; color: red;">At least 1 lowercase.</div>
                <div id="lengthWarning" style="display: none; color: red;">8-16 characters.</div>
                <div id="symbolWarning" style="display: none; color: red;">Only use normal characters and at least 1 symbol.</div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value='Confirm'>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const ajaxForm = document.getElementById('ajax-form');
  ajaxForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(ajaxForm);
    fetch("{% url 'set_new_password' %}", {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        
        window.location.href = "{% url 'update_profile' %}";
      } else {
        alert(data.error_message);
      }
    })
    .catch(error => {
      console.error(error);
      alert("An error occurred. Please try again.");
    });
  });
</script>
{% endblock content %}
