{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}Change phone{% endblock heading_title %}
{% block heading_sub_title %}Change phone{% endblock heading_sub_title %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-start">Change Phone Number</h2>
          
        </div>
        <div class="card-body">
          <form method='POST' enctype="multipart/form-data" id='ajax-form'>
            {% csrf_token %}
            {% if messages %}
              <ul class="messages" >
                {% for message in messages %}
                  <li style = 'list-style-type: none;' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Enter your new phone number" name ='phone' id='check_filled_in'>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value='Next' id="submitButton">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const field = document.getElementById("check_filled_in");
    
    const submitButton = document.getElementById("submitButton");

    function checkFields() {
      if (field.value.trim() !== "") {
        submitButton.disabled = false;
      } else {
        submitButton.disabled = true;
      }
    }

    field.addEventListener("input", checkFields);
    // Initial check
    checkFields();
  });

  const ajaxForm = document.getElementById('ajax-form');
  ajaxForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(ajaxForm);
    fetch("{% url 'update_phone' %}", {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        
        window.location.href = data.redirect_url;
      } else {
        alert(data.error_message);
      }
    })
    .catch(error => {
      console.error(error);
      alert("An error occurred. Please try again.");
    });
  });
</script>
{% endblock content %}
