{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}Login{% endblock heading_title %}
{% block heading_sub_title %}Login{% endblock heading_sub_title %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Login</h2>
          </div>
          <div class="card-body">
            <form id='ajax-form'method='POST'>
              {% csrf_token %}
              <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Enter your Username" name="username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password" required>
              </div>
              <div class="reset-password-link" style="display: flex; justify-content: space-between; align-items: center;">
                <p>Forgot your password? Reset it <a href="{% url 'reset_password' %}" style='color:red'>here</a>.</p>
                <p style="margin-left: auto;">Register <a href="{% url 'register_customer' %}" style='color:blue;'>here</a>.</p>
              </div>
              <input type="submit" class="btn btn-primary btn-block" value='Submit'>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const loginForm = document.getElementById('ajax-form');
    loginForm.addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(loginForm);
      fetch("{% url 'handle_login' %}", {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = "{% url 'index' %}";
        } else {
          alert(data.error_message);
        }
      })
      .catch(error => {
        console.error(error);
        alert("An error occurred. Please try again.");
      });
    });
  </script>
{% endblock content %}
