{% extends "shared/fruit_shop_base.html" %} {% load static %} {% block heading_title %}REGISTER for Employee{% endblock heading_title %} {% block heading_sub_title %}Register{% endblock heading_sub_title %} 
{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Registration Form</h2>
        </div>
        <div class="card-body">
          <form method="POST" id='ajax-form'>
            {% csrf_token %}
        
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your username" name="username" required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your first name" name="first_name" required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your last name" name="last_name" required />
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your contact email" name="email" required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter your contact phone number" name="phone" required />
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const ajaxForm = document.getElementById('ajax-form');
  ajaxForm.addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(ajaxForm);
    fetch("{% url 'register_employee' %}", {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        
        window.location.href = "{% url 'view_confirmation_page' %}";
      } else {
        alert(data.error_message);
      }
    })
    .catch(error => {
      console.error(error);
      alert("An error occurred. Please try again.");
    });
  });
</script>
{% endblock content %}
