{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}Change Email{% endblock heading_title %}
{% block heading_sub_title %}Change Email{% endblock heading_sub_title %}
{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const field = document.getElementById("check_filled_in");
      
      const submitButton = document.getElementById("submitButton");
  
      function checkFields() {
        if (field.value.trim() !== "") {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      }
  
      field.addEventListener("input", checkFields);
      // Initial check
      checkFields();
    });
  </script>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-start">Change Email Address</h2>
          
        </div>
        <div class="card-body">
          <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li style="color: red; list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            <div class="mb-3">
              <label  class="form-label">Enter new email</label>
              <input type="text" class="form-control" placeholder="Enter your email address" name ='email' id='check_filled_in'>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name='receive_updates'>
                <label class="form-check-label" for="exampleCheck1">Send me news on the latest updates, trends & deals.</label>
              </div>
            <input type="submit" class="btn btn-primary btn-block" value='Next' id="submitButton">
          </form>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class> {% endcomment %}
</div>
{% endblock content %}
