{% extends "shared/fruit_shop_base.html" %}
{% load static %}


    <!-- Start All Title Box -->
    {% block heading_title %}About Us{% endblock heading_title %}
    {% block heading_sub_title %}About Us{% endblock heading_sub_title %}
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    {% block content %}
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/about-img.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Cole's Grocery Shop</span></h2>
                    <br>
                    <h3 style="font-weight: bold;">Your Friendly Neighborhood Online Grocer</h3>
                    <p>At Cole's Grocery Shop, we're passionate about making grocery shopping a breeze. We're your one-stop shop for all your essential household needs, delivered straight to your door.</p>
                    <h3 style="font-weight: bold;">Shop with Confidence at Cole's Grocery Shop</h3>
                    <p>We take food safety and quality seriously.  We work closely with our suppliers to ensure all products meet strict quality control measures.  Additionally, our streamlined logistics minimize handling and maintain optimal temperatures for fresh produce and dairy products.  We are confident in the quality of our offerings and back them up with a customer-centric return policy.</p>
					
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Unwavering Trust</h3>
                        <p>We understand the importance of trust when it comes to your family's food. That's why we source our products from reputable suppliers and ensure they meet the highest quality standards. We prioritize transparency in our practices and are always available to answer your questions.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Uncompromising Professionalism</h3>
                        <p>We operate with the utmost professionalism. Our team consists of experienced grocery specialists dedicated to sourcing the finest products and ensuring a seamless shopping experience. We maintain strong relationships with our suppliers, allowing us to offer exceptional quality at competitive prices. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Expertise You Can Count On</h3>
                        <p>Our team isn't just passionate about groceries, they're experts in the field. They have a deep understanding of food trends, seasonality, and sourcing practices, allowing us to curate a selection of products that meet the highest standards of freshness, quality, and sustainability.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- End About Page -->


    {% endblock content %}