<!-- checkout.html -->
{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}
    Checkout
{% endblock heading_title %}

{% block heading_sub_title %}
    Checkout
{% endblock heading_sub_title %}

{% block content %}
    <!-- Start Cart  -->
    <div class="cart-box-main">
        <div class="container">
            <form class="needs-validation" method="POST">
                {% csrf_token %}
                
                <div class="row">
                    <!-- Billing Address -->
                    <div class="col-sm-6 col-lg-6 mb-3">
                        <div class="checkout-address">
                            <div class="title-left">
                                <h3>Billing address</h3>
                            </div>
                            <div class="mb-3">
                                {% if address_list %}
                                    <select class="form-control" id="address" name='address' required>
                                        {% for address in address_list %}
                                            <option value="{{ address.pk }}">{{address.full_name}}  |  {{address.phone_number}}{% if address.is_default %} (default){% endif %}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <p>No addresses available. Create new adddress <a href="{% url 'create_address' %}" style='color:red'>here</a></p>
                                {% endif %}
                                <div class="invalid-feedback">Please select a billing address.</div>
                            </div>
                            <hr class="mb-4">
                            <div class="title"> <span>Payment</span> </div>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="cod" name="payment_method" type="radio" class="custom-control-input" value="cash"checked required>
                                    <label class="custom-control-label" for="cod">COD</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="momo" name="payment_method" type="radio" class="custom-control-input" value="momo"disabled>
                                    <label class="custom-control-label" for="momo">Momo e-wallet</label>
                                </div>
                            </div>
                            <hr class="mb-1">
                        </div>
                    </div>
                    <!-- Shipping Method -->
                    <div class="col-sm-6 col-lg-6 mb-3">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="shipping-method-box">
                                    <div class="title-left">
                                        <h3>Shipping Method</h3>
                                    </div>
                                    <div class="mb-4">
                                        <div class="custom-control custom-radio">
                                            <input id="shippingOption1" name="shipping_option" class="custom-control-input" checked="checked" type="radio" value='standard'>
                                            <label class="custom-control-label" for="shippingOption1">Standard Delivery</label> <span class="float-right font-weight-bold">FREE</span> </div>
                                        <div class="ml-4 mb-2 small">(3-7 business days)</div>
                                        <div class="custom-control custom-radio">
                                            <input id="shippingOption2" name="shipping_option" class="custom-control-input" type="radio" value='express'>
                                            <label class="custom-control-label" for="shippingOption2">Express Delivery</label> <span class="float-right font-weight-bold">35000 VND</span> </div>
                                        <div class="ml-4 mb-2 small">(2-4 business days)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="odr-box">
                                    <div class="title-left">
                                        <h3>Shopping cart</h3>
                                    </div>
                                    <div class="rounded p-2 bg-light">
                                        {% for item in cart_items %}
                                            <div class="media mb-2 border-bottom">
                                                <div class="media-body"> <a href="{% url 'get_product' sku=item.product.sku%}">{{ item.product.product_name }}</a>
                                                    <div class="small text-muted">Price: {{ item.product.updated_price }}đ <span class="mx-2">|</span> Qty: {{ item.quantity }} <span class="mx-2">|</span> Subtotal: {{ item.total_price }}đ</div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div class="order-box">
                                    <div class="title-left">
                                        <h3>Your order</h3>
                                    </div>
                                    <div class="d-flex">
                                        <div class="font-weight-bold">Product</div>
                                        <div class="ml-auto font-weight-bold">Total</div>
                                    </div>
                                    <hr class="my-1">
                                    <div class="d-flex">
                                        <h4>Sub Total</h4>
                                        <div class="ml-auto font-weight-bold"> {{total_price}} VND </div>
                                    </div>
                                    <hr class="my-1">
                                    <div class="d-flex">
                                        <h4>Coupon Discount</h4>
                                        <div class="ml-auto font-weight-bold"> -{{discount_amount}} VND </div>
                                    </div>
                                    <div class="d-flex">
                                        <h4>Shipping Cost</h4>
                                        <div class="ml-auto font-weight-bold"> Free </div>
                                    </div>
                                    <hr>
                                    <div class="d-flex gr-total">
                                        <h5>Grand Total</h5>
                                        <div class="ml-auto h5" id="grand_total">{{total}} VND</div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="selected_shipping_option" name="selected_shipping_option" value="">
                <div class="col-12 d-flex shopping-box"> <input type="submit" class="ml-auto btn hvr-hover" value="Place Order"> </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Calculate and display shipping cost based on selected shipping method
            const shippingOptions = document.querySelectorAll('input[name="shipping_option"]');
            shippingOptions.forEach(function(option) {
                option.addEventListener('change', function() {
                    const selectedOption = document.querySelector('input[name="shipping_option"]:checked');
                    const selectedValue = selectedOption ? selectedOption.value : '';
                    let shippingCost = 0;
                    // Calculate shipping cost based on the selected shipping method
                    if (selectedValue === 'standard') {
                        shippingCost = 0;
                    } else if (selectedValue === 'express') {
                        shippingCost = 35000;
                    }
                    // Update the shipping cost in the order summary
                    const shippingCostElement = document.querySelector('.order-box').querySelectorAll('div')[8].querySelector('.ml-auto');
                    if (shippingCostElement) {
                        shippingCostElement.innerText = shippingCost === 0 ? 'FREE' : shippingCost + ' VND';
                    }
                    updateGrandTotal(shippingCost);
                });
            });
        
            function updateGrandTotal(shippingCost) {
                const total = parseFloat('{{total_price}}');
                const discount = parseFloat('{{discount_amount}}');
                let grandTotal = total - discount + shippingCost;
                // Update the grand total in the order summary
                const grandTotalElement = document.querySelector('.gr-total').querySelector('.ml-auto');
                if (grandTotalElement) {
                    grandTotalElement.innerText = grandTotal.toFixed(2) + ' VND';
                }
            }
        
            // Call the function to update grand total initially
            updateGrandTotal(0);
        });
        document.querySelectorAll('input[name="shipping_option"]').forEach(option => {
            option.addEventListener('change', function() {
              document.getElementById('selected_shipping_option').value = this.value;
              updateGrandTotal(); // Update grand total based on potentially changed shipping cost
            });
          });
    </script>
    <!-- End Cart -->
{% endblock content %}