{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}Shop Detail{% endblock heading_title %}
{% block heading_sub_title %}Shop Detail{% endblock heading_sub_title %}
{% block content %}
    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            {% for image in product.images.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="{{ product.product_name }}">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                <span class="sr-only">Previous</span>
                                        </a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <span class="sr-only">Next</span>
                                        </a>
                        <ol class="carousel-indicators">
                            {% for image in product.images.all %}
                            <li data-target="#carousel-example-1" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}active{% endif %}">
                                <img class="d-block w-100 img-fluid" src="{{ image.image.url }}" alt="" />
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{product.product_name}}</h2>
                        <p style ="color:grey">Brand: <span style="color:green">{{product.brand.brand_name}}</span>   |   SKU:{{product.sku}}</p>
                        <h5> <del>{{product.price}} VND</del> {{product.updated_price}} VND</h5>
                        <p class="available-stock"><span> More than {{product.stock_quantity}} available / <a href="#">8 sold </a></span><p>
                                                <h4>Short Description:</h4>
                                                <p>{{product.information}} </p>
                                                <ul>
                                                        <li>
                                                                <div class="form-group quantity-box">
                                                                        <label class="control-label">Quantity</label>
                                                                        <input id='quantityInput' class="form-control" value="1" min="1" max="{{product.stock_quantity}}" type="number">
                                                                </div>
                                                        </li>
                                                </ul>
                                                <div class="price-box-bar">
                                                        <div class="cart-and-bay-btn">
                                                            <a class="btn hvr-hover" href="#" onclick="addToCart({{product.id}})">Add to cart</a>
                                                        </div>
                                                </div>
                                                <div class="add-to-btn">
                                                        <div class="add-comp">
                                                                <a class="btn hvr-hover" href="{% url 'update_wishlist_item' product_id=product.id %}"><i class="fas fa-heart"></i> Add to wishlist</a>
                                                                <a class="btn hvr-hover" href="#"><i class="fas fa-sync-alt"></i> Add to Compare</a>
                                                        </div>
                                                        <div class="share-bar">
                                                                <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                                                <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                                                <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                                                <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                                                <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                                                        </div>
                                                </div>
                    </div>
                </div>
            </div>
                        
                        <div class="row my-5">
                                <div class="card card-outline-secondary my-4">
                                        <div class="card-header">
                                                <h2>Product Reviews</h2>
                                        </div>

                                        <div class="card-body">
                                            {% for comment in comments %}
                                            <div class="media mb-3">
                                                <div class="mr-2"> 
                                                    <img class="rounded-circle border p-1" src="{{comment.user.image.url}}" alt="Generic placeholder image" style="height: 64px;width: 100%%;">
                                                </div>
                                                <div class="media-body">
                                                    <p>{{comment.content}}</p>
                                                    <small class="text-muted">Posted by {{comment.user.username}} on {% if comment.updated_at %}{{comment.updated_at}}{% else %}{{comment.created_at}}{% endif %}</small>
                                                    {% if request.user == comment.user %}
                                                    <a href="#" class="edit-comment-link" data-comment-id="{{ comment.id }}" style="color: blue; font-size: 15px;">Edit</a>
                                                    <a href="{% url 'delete_comment_on_product' sku=product.sku %}?comment_id={{ comment.id }}" style="color: red;font-size:15px">Delete</a>
                                                    <div id="edit-comment-form-{{ comment.id }}" class="edit-comment-form" style="display: none;">
                                                        <form method="post" action="{% url 'update_comment_on_product' sku=product.sku %}">
                                                            {% csrf_token %}
                                                            <div class="form-group">
                                                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <textarea class="form-control" id="content" name="content" rows="2">{{ comment.content }}</textarea>
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <input type="submit" class="btn btn-primary" value="Update">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                
                                                    
                                                
                                            </div>
                                            <hr>
                                            {% endfor %}
                                            
                                                <form method="post" action="{% url 'create_comment_on_product' sku=product.sku %}">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="message" placeholder="Leave your comment here" rows="2" data-error="Write your message" name='content'></textarea>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                        <div class="col-lg-12">
                                                            <input type="submit" class="btn btn-primary" value = 'Submit' >
                                                        </div>
                                                        
                                                </form>
                                                
                                        </div>
                                  </div>
                        </div>
            <div class="row my-5">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Featured Products</h1>
                        <p>Specially selected items showcased.</p>
                    </div>
                    <div class="featured-products-box owl-carousel owl-theme">
                        {% if featured_products %}
                        {% for product in featured_products %}
                        <div class="item">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                {% if product.images.exists %}
                                    {% for image in product.images.all %}
                                        {% if image.is_main_image %}
                                        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ product.product_name }}">
                                        {% endif %}
                                    {% endfor %}
                                {% comment %} {% else %}
                                <img src="{{ image.image.url }}" class="img-fluid" alt="{{ product.product_name }}"> {% endcomment %}
                                {% endif %}
                                <div class="mask-icon">
                                    <ul>
                                        <li>
                                        <a href="{% url 'get_product' sku=product.sku%}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a>
                                        </li>
                                        <li>
                                        <a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a>
                                        </li>
                                        <li>
                                        <a href="{% url 'update_wishlist_item' product_id=product.id %}" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a>
                                        </li>
                                    </ul>
                                    <a class="cart" href="{% url 'update_cart_item' product_id=product.id quantity=1 %}">Add to Cart</a>
                                    </div>
                                        
                                </div>
                                <div class="why-text">
                                    <h4>{{product.product_name}}</h4>
                                    <h5> {{product.price}} VNĐ</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.edit-comment-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const commentId = this.getAttribute('data-comment-id');
                const editForm = document.getElementById(`edit-comment-form-${commentId}`);
                const commentContent = document.getElementById(`comment-${commentId}-content`);
                if (editForm.style.display === 'none') {
                    editForm.style.display = 'block';
                    commentContent.style.display = 'none';
                } else {
                    editForm.style.display = 'none';
                    commentContent.style.display = 'block';
                }
            });
        });
        function addToCart(productId) {
            var quantity = document.getElementById('quantityInput').value;
            var url = "{% url 'update_cart_item' product_id=0 quantity=0 %}".replace('0', productId).replace('0', quantity);
            window.location.href = url;
        };
    </script>
    <!-- End Cart -->
    {% endblock content %}