{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block title_box %}
{% endblock title_box %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Update Product Form</h2>
          </div>
          <div class="card-body">
            <form method='POST' enctype="multipart/form-data" id='ajax-form'> 
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }} {{ field }} {% if field.errors %}
                  <ul class="errors">
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary btn-block" value='Update'>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    const ajaxForm = document.getElementById('ajax-form');
    ajaxForm.addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(ajaxForm);
      fetch("{% url 'update_product' sku=product.sku%}", {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          
          window.location.href = "{% url 'get_product' sku=product.sku %}";
        } else {
          alert(data.error_message);
        }
      })
      .catch(error => {
        console.error(error);
        alert("An error occurred. Please try again.");
      });
    });
  </script>
{% endblock content %}
