{% extends "shared/fruit_shop_base.html" %}
{% load static %}

{% block heading_title %}Wishlist{% endblock heading_title %}
{% block heading_sub_title %}Wishlist{% endblock heading_sub_title %}
{% block content %}
    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Unit Price </th>
                                    <th>Stock</th>
                                    <th>Quantity</th>
                                    <th>Add Item</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wishlist in wishlist_items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'get_product' sku=wishlist.product.sku %}">
									<img class="img-fluid" src="{{ wishlist.product.images.first.image.url }}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'get_product' sku=wishlist.product.sku %}">
									{{wishlist.product.product_name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{wishlist.product.price}} VND</p>
                                    </td>
                                    <td class="quantity-box">{% if wishlist.product.stock_quantity > 0 %}In Stock{% else %}Out Of Stock{% endif %}</td>
                                    <td>
                                        <input id='quantityInput' value="1" min="1" max="{{product.stock_quantity}}" type="number">
                                    </td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="#" onclick="addToCart({{wishlist.product.id}})">Add to cart</a>
                                        
                                    </td>
                                    
                                    <td class="remove-pr">
                                        <a href="{% url 'delete_wishlist_item' product_id=wishlist.product.id %}">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    function addToCart(productId) {
        var quantity = document.getElementById('quantityInput').value;
        var url = "{% url 'update_cart_item' product_id=0 quantity=0 %}".replace('0', productId).replace('0', quantity);
        window.location.href = url;
    };
</script>
    <!-- End Wishlist -->
    {% endblock content %}