{% extends "shared/base.html" %}
{% load static %}

{% block heading_title %}Wishlist{% endblock heading_title %}
{% block heading_sub_title %}Wishlist{% endblock heading_sub_title %}
{% block content %}
    <!-- Start Wishlist  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-main table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Images</th>
                                    <th>Product Name</th>
                                    <th>Unit Price </th>
                                    <th>Stock</th>
                                    <th>Add Item</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wishlist in wishlist_items %}
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="{% url 'product_detail' product_id=wishlist.product.id%}">
									<img class="img-fluid" src="{{ wishlist.product.images.first.image.url }}" alt="" />
								</a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="{% url 'product_detail' product_id=wishlist.product.id%}">
									{{wishlist.product.product_name}}
								</a>
                                    </td>
                                    <td class="price-pr">
                                        <p>{{wishlist.product.price}}đ</p>
                                    </td>
                                    <td class="quantity-box">In Stock</td>
                                    <td class="add-pr">
                                        <a class="btn hvr-hover" href="{% url 'add_to_cart' product_id=wishlist.product.id quantity=1 %}">Add to Cart</a>
                                    </td>
                                    <td class="remove-pr">
                                        <a href="{% url 'remove_from_wishlist' product_id=wishlist.product.id %}">
									<i class="fas fa-times"></i>
								</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wishlist -->
    {% endblock content %}