{% extends "shared/fruit_shop_base.html" %}
{% load static %}
{% block heading_page_subtitle %}Post Details{% endblock %}
{% block heading_page_title %}Single blog post{% endblock %}

{% block content %}
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{post.image.url}}" alt="">
                    </div>
                    <div class="down-content">
                      <span>Lifestyle</span>
                      <a href ="{% url 'get_blog' id=post.id %}"><h4>{{post.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{post.author.username}}</a></li>
                        <li><a href="#">{{post.published_at}}</a></li>
                        <li><a href="#">10 Comments</a></li>
                      </ul>
                      <p>
                        {{post.content|safe}}
                      </p>
                      
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li >{% for tag in post.tags.all %}
                                <li style = 'background-color: #ebebeb; padding: 10px;margin: 5px 0;'><a href="{% url 'get_posts_by_tag' tag_id=tag.id %}">{{ tag.name }}
                                </li></a>
                            {% endfor %}</li>
                            <li>{% for category in post.categories.all %}
                              <li><a href="#">{{ category.name }}</li></a>
                              {% endfor %}
                            </li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      {% with comments|length as count %}<h2>{{count}} comments</h2>{% endwith %}
                    </div>
                    <div class="content">
                      <ul>
                        {% for comment in comments %}
                        {% if not comment.parent_comment %}
                          <li>
                        {% else %}
                          <li class="replied">
                        {% endif %}
                          <div class="author-thumb">
                            <img src="{{ comment.author.profile_picture.url }}" alt="">
                          </div>
                          <div class="right-content">
                            <h4>{{ comment.author.username }}<span>{{ comment.created_at }}</span></h4>
                            <a href="#">Like</a>
                            {% if not comment.parent_comment %}
                            <a href="#" class="toggle-reply-form-link">Reply</a>
                            <form method="post" class="reply-form" action="{% url 'reply_comment' %}" style="display: none;">
                              {% csrf_token %}
                              <input type="hidden" name="comment_id" value="{{ comment.id }}">
                              <input type="hidden" name="post_id" value="{{ post.id }}">
                              <input type="text" name="content" value="{{ comment.author.username }}">
                              <input type="submit" value="Reply">
                            </form>
                            {% endif %}
                            
                            {% if request.user == comment.author %}
                              <a href="#" class="toggle-edit-form-link">Edit</a>
                              <form method="post" class="edit-form" action="{% url 'edit_comment' post_id=post.id %}" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="text" name="content" placeholder="Edit here">
                                <input type="submit" value="Submit">
                              </form>
                              <a href="{% url 'delete_comment' post_id=post.id %}?comment_id={{ comment.id }}" class="delete-comment-link">Delete</a>
                            {% endif %}
                            <p><strong>{{ comment.content }}</strong></p>
                          </div>
                        </li>
                        <br>
                      {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Leave Your comment</h2>
                    </div>
                    <div class="content">
                      {% if user.is_authenticated %}
                      <form method="post" action="{% url 'create_comment' id=post.id %}">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-lg-12">
                              <textarea name="content" rows="1" placeholder="Type your comment" ></textarea>
                          </div>
                          <div class="col-lg-12">
                              <input type="submit" class="btn btn-primary" value = 'Submit' >
                          </div>
                        </div>
                      </form>
                      {% else %}
                      <section class="call-to-action">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="main-content">
                                <div class="row">
                                  <div class="col-lg-5 text-center"> 
                                    <div class="main-button">
                                      <a href="{% url 'log_in'%}">Login to Leave your comment</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      {% endif %}
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include "shared/sidebar.html" %}
        </div>
      </div>
    </section>


    <div class="container">
    <div class="row my-5">
      <div class="card card-outline-secondary my-4">
              <div class="card-header">
                      <h2>Product Reviews</h2>
              </div>
              <div class="card-body">
                      <div class="media mb-3">
                              <div class="mr-2">
                                      <img class="rounded-circle border p-1" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
                              </div>
                              <div class="media-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                      <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                              </div>
                      </div>
                      <hr>
                      <div class="media mb-3">
                              <div class="mr-2">
                                      <img class="rounded-circle border p-1" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
                              </div>
                              <div class="media-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                      <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                              </div>
                      </div>
                      <hr>
                      <div class="media mb-3">
                              <div class="mr-2">
                                      <img class="rounded-circle border p-1" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2264%22%20height%3D%2264%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2064%2064%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_160c142c97c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_160c142c97c%22%3E%3Crect%20width%3D%2264%22%20height%3D%2264%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2213.5546875%22%20y%3D%2236.5%22%3E64x64%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Generic placeholder image">
                              </div>
                              <div class="media-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                                      <small class="text-muted">Posted by Anonymous on 3/1/18</small>
                              </div>
                      </div>
                      <hr>
                      <a href="#" class="btn hvr-hover">Leave a Review</a>
              </div>
        </div>
</div>
</div>

 {% endblock %}